body {
   font-family: "Roboto", sans-serif;
   background: #0a1f44;
   color: white;
}

h1 {
   font-weight: bold;
   font-size: 4rem;
   letter-spacing: 0.02em;
}

button,
input {
   border: none;
   background: none;
   outline: none;
   color: white;
}

button {
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: 0.1em;
   padding: 15px 20px;
   margin-left: 15px;
   border-radius: 5px;
   background: #ff1e42;
}

button:hover { background: #c3112d; }

input {
   font-size: 2rem;
   height: 40px;
   padding: 5px 5px 10px;
   border-bottom: 1px solid;
}

sup {
   font-weight: normal;
   font-size: 2.5rem;
}

img { width: 4rem; }

ul { list-style: none; }

#ciudad {
   font-size: 2rem;
   color: #717681;
}

#temperatura {
   font-size: 5rem;
   font-weight: bold;
}

#descripcion {
   text-transform: uppercase;
   letter-spacing: 0.05em;
   color: #717681;
}

.container {
   background-color: white;
   color: #1e2432;
   width: 300px;
   height: 350px;
   border-radius: 20px;
   margin-left: 50px;
   visibility: hidden;
   margin: 50px auto;
}

.encabezado { text-align: center; }

.ciudades { padding: 40px 10%; }